//
   Created by qhyang on 2017/2/20.


ul.scene#scene(
    "[style.height]"="height + 'px'"
    "[style.width]"="width + 'px'"
)
    li.background.stars-cluster.layer(data-depth="0.10")
        - for (var x = 1; x <=100; x++)
            .star(class="star-" + x)
    li.background-front.stars-cluster.layer(data-depth="0.20")
    li.bubble-cluster-1.layer(data-depth="0.50")
        - var n = 1;
        while n < 60
            img.bubble(
            class="bubble-" + n
            src="../../img/bubble.svg"
            )
            - n++
    li.layer.bubble-cluster-2(data-depth="0.80")
        - var n = 1;
        while n < 30
            img.bubble(
                class="bubble-" + n
                src="../../img/bubble.svg"
            )
            - n++
    li.layer(data-depth="1.20")
        h1(i18n="earth-breath page jumbotron|user welcome") Welcome to the play ground!
    li.layer.bubble-cluster-3(data-depth="1.60")
        - var n = 1;
        while n < 20
            img.bubble(
            class="bubble-" + n
            src="../../img/bubble.svg"
            )
            - n++
    li.layer(data-depth="5.00")
    li.layer(data-depth="0.60")
        crystal-nav