//
   Created by qhyang on 2017/2/21.


ul(bsRipple)
    li
        a(
            routerLink="/home"
            i18n="navigation option text|the text of a nav option to route to another page"
        ) Home
    li
        a(
            routerLink="/earth"
            i18n="navigation option text|the text of a nav option to route to another page"
        ) Earth
    li
        a(
            i18n="navigation option text|the text of a nav option to route to another page"
            href="javascript:;"
        ) Music of the day
    li
        a(
            i18n="navigation option text|the text of a nav option to route to another page"
            href="javascript:;"
        ) Strike!
    li
        a(
            i18n="navigation option text|the text of a nav option to route to another page"
            href="javascript:;"
        ) Pokemon Star
