//
   Created by qhyang on 2017/2/20.


ul.scene#scene(
    "[style.height]"="height + 'px'"
    "[style.width]"="width + 'px'"
    scrollPin="800%"
)
    li.background.stars-cluster.layer.full-size(data-depth="0.10")
        - for (var x = 1; x <=100; x++)
            .star(class="star-" + x)
    li.background-front.stars-cluster.layer.full-size(data-depth="0.20")
    li.layer.full-size(
        data-depth="0.50"
        scrollSceneBackgroundColor
        "[toColor]"="['rgba(64, 96, 128, .2)', 'rgba(128, 108, 64, .2)']"
        "[offset]"="['200%', '500%']"
        "[duration]"="['300%', '300%']"
        "[tweenBack]"="[false, true]"
    )
        div.full-size(
            astralScrollScene="60"
            offset="200%"
            duration="300%"
        )
        div.bubble-cluster-1(scrollUp="200%")
            - var n = 1;
            while n < 60
                img.bubble(
                class="bubble-" + n
                src="../../assets/bubble.svg"
                )
                - n++
    li.layer.full-size(data-depth="0.80")
        div.bubble-cluster-2(scrollUp="125%")
            - var n = 1;
            while n < 30
                img.bubble(
                    class="bubble-" + n
                    src="../../assets/bubble.svg"
                )
                - n++
    li.layer.full-size(data-depth="1.20")
        div.full-size(
            astralScrollScene="30"
            offset="200%"
            duration="300%"
        )
        div.full-size(
            fallingLeavesScrollScene="20"
            offset="500%"
            duration="300%"
        )
        h1(
            scrollSceneText
            offset="-20%"
            duration="50%"
            i18n="user welcome|the text showed after enter the earth page"
        ) Welcome to the play ground!
    li.layer.full-size(data-depth="1.60")
        div.bubble-cluster-3(scrollUp="62.5%")
            - var n = 1;
            while n < 20
                img.bubble(
                    class="bubble-" + n
                    src="../../assets/bubble.svg"
                )
                - n++
    li.layer.full-size(data-depth="5.00")
    li.layer.full-size(
        data-depth="0.60"
    )
        div(scrollUp="220%")
            div(
                crystal-nav
                bsStickUp
            )
