//
   Created by qhyang on 2017/3/15.


div.container.background(
    "[style.backgroundColor]"="backgroundColor"
    "[style.backgroundImage]"="backgroundImages ? 'url(' + backgroundImages[0].url + ')' : 'none'"
)
    img.logo(src="../../assets/logo.svg" alt="logo")
    div.tool-pane
        a.tool-pane__button.widget-operation-button.mdl-button.mdl-js-button.mdl-js-ripple-effect(
            href="https://github.com/bubblesoft/bubblesoft-frontend"
            target="_blank"
        )
            span.item__text(
                style="font-weight: bold; color: rgb(255, 193, 7)"
                i18n="Button text|the text of a button to go to the GitHub repository of the site"
            ) Grab me on GitHub
        button#header-widget__widget-operation-button.tool-pane__button.widget-operation-button.mdl-button.mdl-js-button.mdl-js-ripple-effect
            svg.item__icon_with-text.svg-ic_20px-dims(style="fill:#fff")
                use(xlink:href="#ic_apps_24px")
            span.item__text(i18n="Button text|the text of a button to open a menu to manage widgets") Widgets
        ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="header-widget__widget-operation-button")
            li.mdl-menu__item((click)="openAddWidgetDialog()")
                svg.item__icon_with-text.svg-ic_20px-dims
                    use(xlink:href="#ic_add_box_24px")
                span.item__text(i18n="Option text|the text of an option to open a dialog for adding a widget") Add a widget
            li.mdl-menu__item((click)="enterManageMode()")
                svg.item__icon_with-text.svg-ic_20px-dims
                    use(xlink:href="#ic_create_24px")
                span.item__text(i18n="Option text|the text of an option to enter the wigdets-managing mode") Manage widgets
        button#header-widget__login-button.tool-pane__button.widget-operation-button.mdl-button.mdl-js-button.mdl-js-ripple-effect(
            [ngStyle]="{ 'display': user ? 'none' : 'inline-block' }"
            "(click)"="openLoginDialog()"
        )
            svg.item__icon_with-text.svg-ic_20px-dims(style="fill:#fff")
                use(xlink:href="#ic_face_24px")
            span.item__text(i18n="Button text|the text of a button to open dialog to log in") Log in
        div([ngStyle]="{ 'display': user ? 'inline-block' : 'none' }")
            button.tool-pane__button(
                [mdMenuTriggerFor]="userMenu"
                md-button
            ) {{ user?.nickName }}
            md-menu(#userMenu="mdMenu")
                button(md-menu-item)
                    svg.item__icon_with-text.svg-ic_20px-dims
                        use(xlink:href="#ic_create_24px")
                    span.item__text(i18n="Option text|the text of an option to open user profile dialog") Profile
                button(
                    (click)="logOut()"
                    md-menu-item
                )
                    svg.item__icon_with-text.svg-ic_20px-dims
                        use(xlink:href="#ic_create_24px")
                    span.item__text(i18n="Option text|the text of an option log out") Log out
        button#header-widget__language-switch.tool-pane__button.mdl-button.mdl-js-button.mdl-js-ripple-effect
            span.lang-xs.lang-lbl([attr.lang]="currentLocale.substr(0, 2)")
        ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="header-widget__language-switch")
            li.mdl-menu__item((click)="changeLocale('zh-CN')")
                span.lang-xs.lang-lbl(lang="zh")
            li.mdl-menu__item((click)="changeLocale('en-US')")
                span.lang-xs.lang-lbl(lang="en")
            li.mdl-menu__item((click)="changeLocale('ja-JP')")
                span.lang-xs.lang-lbl(lang="ja")
            li.mdl-menu__item
                span.lang-xs.lang-lbl(lang="ko")
        button#header-widget__more-button.tool-pane__button.widget-operation-button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
            svg.svg-ic_20px-dims(style="fill:#fff")
                use(xlink:href="#ic_more_vert_24px")
        ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="header-widget__more-button")
            li.mdl-menu__item((click)="openThemeDialog()")
                svg.item__icon_with-text.svg-ic_20px-dims
                    use(xlink:href="#ic_picture_in_picture_24px")
                span.item__text(i18n="Option text|the text of an option to open a dialog to change theme of the page") Change theme
