//
   Created by qhyang on 2017/9/28.


div(
    [style.display]="editable ? 'none' : 'block'"
    "[richText]"="widget?.data?.text"
)
quill-editor(
    [style.display]="editable ? 'block' : 'none'"
    "(onEditorCreated)" = "onEditorCreated($event)"
)
    div(quill-editor-toolbar)
        span.ql-formats([style.display]="width > 300 ? 'inline-block' : 'none'")
            span([style.display]="width > 636 ? 'inline-block' : 'none'")
                select.ql-font
                    option(value="sofia") Sofia Pro
                    option(value="slabo") Slabo 13px
                    option(value="roboto") Roboto Slab
                    option(value="inconsolata") Inconsolata
                    option(value="ubuntu") Ubuntu Mono
                    option(value="aref") Aref Ruqaa
                    option(value="mirza") Mirza
                    option(selected) Roboto
            select.ql-size
                option(value="small")
                option(selected)
                option(value="large")
                option(value="huge")
        span.ql-formats([style.display]="width > 187 ? 'inline-block' : 'none'")
            button.ql-bold(type="button")
            button.ql-italic(type="button")
            button.ql-underline(type="button")
            button.ql-strike(type="button")
        span.ql-formats([style.display]="width > 457 ? 'inline-block' : 'none'")
            select.ql-color
                option(selected)
                option(value="#e60000")
                option(value="#ff9900")
                option(value="#ffff00")
                option(value="#008a00")
                option(value="#0066cc")
                option(value="#9933ff")
                option(value="#ffffff")
                option(value="#facccc")
                option(value="#ffebcc")
                option(value="#ffffcc")
                option(value="#cce8cc")
                option(value="#cce0f5")
                option(value="#ebd6ff")
                option(value="#bbbbbb")
                option(value="#f06666")
                option(value="#ffc266")
                option(value="#ffff66")
                option(value="#66b966")
                option(value="#66a3e0")
                option(value="#c285ff")
                option(value="#888888")
                option(value="#a10000")
                option(value="#b26b00")
                option(value="#b2b200")
                option(value="#006100")
                option(value="#0047b2")
                option(value="#6b24b2")
                option(value="#444444")
                option(value="#5c0000")
                option(value="#663d00")
                option(value="#666600")
                option(value="#003700")
                option(value="#002966")
                option(value="#3d1466")
            select.ql-background
                option(value="#000000")
                option(value="#e60000")
                option(value="#ff9900")
                option(value="#ffff00")
                option(value="#008a00")
                option(value="#0066cc")
                option(value="#9933ff")
                option(selected)
                option(value="#facccc")
                option(value="#ffebcc")
                option(value="#ffffcc")
                option(value="#cce8cc")
                option(value="#cce0f5")
                option(value="#ebd6ff")
                option(value="#bbbbbb")
                option(value="#f06666")
                option(value="#ffc266")
                option(value="#ffff66")
                option(value="#66b966")
                option(value="#66a3e0")
                option(value="#c285ff")
                option(value="#888888")
                option(value="#a10000")
                option(value="#b26b00")
                option(value="#b2b200")
                option(value="#006100")
                option(value="#0047b2")
                option(value="#6b24b2")
                option(value="#444444")
                option(value="#5c0000")
                option(value="#663d00")
                option(value="#666600")
                option(value="#003700")
                option(value="#002966")
                option(value="#3d1466")
        span.ql-formats([style.display]="width > 1045 ? 'inline-block' : 'none'")
            button.ql-script(
                value="super"
                type="button"
            )
            button.ql-script(
                value="sub"
                type="button"
            )
        span.ql-formats([style.display]="width > 974 ? 'inline-block' : 'none'")
            button.ql-header(
                value="1"
                type="button"
            )
            button.ql-header(
                value="2"
                type="button"
            )
            button.ql-blockquote(type="button")
            button.ql-code-block(type="button")
        span.ql-formats([style.display]="width > 847 ? 'inline-block' : 'none'")
            button.ql-list(
                value="ordered"
                type="button"
            )
            button.ql-list(
                value="bullet"
                type="button"
            )
            button.ql-indent(
                value="-1"
                type="button"
            )
            button.ql-indent(
                value="+1"
                type="button"
            )
        span.ql-formats([style.display]="width > 528 ? 'inline-block' : 'none'")
            button.ql-direction(type="button")
            select.ql-align
                option(selected)
                option(value="center")
                option(value="right")
                option(value="justify")
        span.ql-formats([style.display]="width > 343 ? 'inline-block' : 'none'")
            button.ql-link(
                [style.display]="width > 692 ? 'inline-block' : 'none'"
                type="button"
            )
            button.ql-image(type="button")
            button.ql-video(
                [style.display]="width > 664 ? 'inline-block' : 'none'"
                type="button"
            )
            button.ql-formula(
                [style.display]="width > 720 ? 'inline-block' : 'none'"
                type="button"
            )
        span.ql-formats([style.display]="width > 386 ? 'inline-block' : 'none'")
            button.ql-clean(type="button")
        span.ql-formats
            button(
                emojiPanel
                "(onEmojiSelect)"="onEmojiSelect($event)"
                type="button"
            )
                svg.svg-ic_20px-dims
                    use(xlink:href="#ic_face_24px")
button(
    [style.display]="editable ? 'none' : 'block'"
    md-icon-button
    color="accent"
)
    svg.svg-ic_15px-dims(
        (click)="editable = true"
        mdTooltip="Edit"
        mdTooltipPosition="above"
    )
        use(xlink:href="#ic_create_24px")
button(
    [style.display]="editable ? 'block' : 'none'"
    md-icon-button
    color="accent"
)
    svg.svg-ic_15px-dims(
        (click)="onSave()"
        mdTooltip="Save"
        mdTooltipPosition="above"
    )
        use(xlink:href="#ic_save_24px")