//
   Created by qhyang on 2017/3/6.


nav#left-nav.two-step
    a(
        routerLink="/home"
        i18n="navigation option text|the text of a nav option to route to another page"
    ) Home
    a(
        (click)="routeTo('/earth')"
        i18n="navigation option text|the text of a nav option to route to another page"
        href="javascript:;"
    ) Earth (experimental showcase)
    a(
        i18n="navigation option text|the text of a nav option to route to another page"
        href="javascript:;"
    ) Music of the day (in development)
    a(
        i18n="navigation option text|the text of a nav option to route to another page"
        href="javascript:;"
    ) Strike! (in development)
    a(
        i18n="navigation option text|the text of a nav option to route to another page"
        href="javascript:;"
    ) Pokemon Star (in development)
