//
   Created by qhyang on 2017/9/13.

h5(
    md-dialog-title
    i18n="Dialog title|the title of a dialog for changing widget settings"
) Widget Settings
md-dialog-content
    form([formGroup]="widgetSettingsForm")
        md-expansion-panel(
            formGroupName="basic"
            expanded
        )
            md-expansion-panel-header
                md-panel-title(i18n="Panel title|the title of a panel in a dialog for changing widget settings") Basic Settings
            md-form-field(
                color-picker="widget.config.background.color"
                "(onPicked)"="onBackgroundColorPicked($event)"
            )
                input(
                    formControlName="backgroundColor"
                    mdInput
                    placeholder="Background Color"
                )
                svg.color-picker__switch.item__icon_with-text.svg-ic_20px-dims(
                    mdSuffix
                    [style.fill]="widget.config.background.color || 'rgba(0, 0, 0, 0.54)'"
                )
                    use(xlink:href="#ic_apps_24px")
md-dialog-actions
    button(
        *ngIf="widgetSettingsForm.status === 'VALID'"
        "[md-dialog-close]"="saveSettings()"
        md-button
        i18n="Button text|the text of a button to submit the changes of widget settings and  close the widget settings dialog"
    ) Submit
    button(
        *ngIf="widgetSettingsForm.status !== 'VALID'"
        disabled
        md-button
        i18n="Button text|the text of a button to submit the changes of widget settings and  close the widget settings dialog"
    ) Submit
    button(
        md-button
        md-dialog-close
        i18n="Button text|the text of a button to close the widget settings dialog without submitting the changes of widget settings"
    ) Close
